// @keyframes slideInFromLeft {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(0);
//     }
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resume-left-info {
  width: 50%;
  height: 450px;
  position: relative;
  // animation: 1s ease-out 0s 1 slideInFromLeft;
  // opacity: 0.0;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resume-left-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  transition: all 0.25s linear;
  top: 30%;
  transform: translateY(-50%);
}

.resume-left-container img {
  width: 200px;
  height: 190px;
  display: inline-block;
  float: left;
  border-radius: 2px;
}

.resume-left-main {
  width: 50%;
  display: inline-block;
  // float: left;
  margin-left: 50px;
}

.resume-left-title {
  // display: block;
  font-size: 35px;
  font-weight: bold;
}

.resume-left-subtitle {
  // display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 25px;
}

.resume-left-summary {
  display: block;
  font-size: 15px;
  -webkit-animation: fadeOutIn 2s;
  animation: fadeOutIn 2s;
}

.resume-right-info {
  width: 50%;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

.resume-right-container {
  width: 100%;
  height: 100%;
  margin-top: -50px;
  // overflow: auto;
}

// .resume-right-container::-webkit-scrollbar {
//     display: none;
//   }

.resume-information-icon {
  display: inline-block;
  font-size: 9em;
  // transform: rotate(18deg);
  filter: brightness(0.5);
  opacity: 0.8;
  float: left;
  // text-shadow: 0px 0px 5px rgb(191 191 191 / 75%);
}

// Resumes Pages Information CSS
.fancybox-resume-info {
  width: 60%;
  display: inline-block;
}

.resume-info-details-section {
  margin-bottom: 40px;
  outline: none;
}

.resume-info-details-section-double {
  display: inline-block;
}

.resume-info-details-section-double {
  display: inline-block;
}

.when-section {
  margin-right: 100px;
}

.resume-info-details-title {
  display: inline-block;
  font-size: 15px;
  font-family: "Nunito-bold";
  width: auto;
  padding: 2px 8px;
  border-radius: 15px;
  margin-bottom: 10px;
  color: #2d476d;
  border: 2px solid #2d476d;
}

.resume-info-details-value {
  width: 65%;
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.resume-info-details-secondary-value {
  width: 65%;
  display: block;
  font-size: 15px;
  font-family: "Nunito-thin";
  margin-bottom: 5px;
}

// Start: Carousel Resume Pages Information CSS
.resume-right-info {
  .slick-slide {
    width: 100% !important;
    opacity: 0.5;
    height: 408px;
    position: relative;
    outline: none;
    cursor: pointer;
  }

  .slick-slide > div {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .slick-active {
    opacity: 1;
  }

  .slick-prev:before,
  .slick-next:before {
    content: "" !important;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.15em solid white;
    border-top: 0.15em solid white;
  }

  .slick-prev:before {
    transform: rotate(225deg);
  }

  .slick-next:before {
    transform: rotate(45deg);
  }

  .slick-dots li button:before {
    font-size: 12px !important;
  }
}
// End: Carousel Resume Pages Information CSS

// Media Queries

@media only screen and (min-width: 1025) {
  .slick-slider {
    position: unset !important;
  }

  .slick-prev {
    // left: 25px !important;
    bottom: 20px !important;
    z-index: 1 !important;
    left: 67% !important;
    position: fixed !important;
    top: unset !important;
  }

  .slick-next {
    // right: 25px !important;
    right: 0 !important;
    bottom: 20px !important;
    right: 20.5% !important;
    z-index: 1 !important;
    position: fixed !important;
    top: unset !important;
  }

  .slick-dots {
    z-index: 1 !important;
    right: 22% !important;
    bottom: 30px !important;
    width: auto !important;
    position: fixed !important;
    left: 70%;
  }
}

@media only screen and (max-width: 1500px) {
  .resume-left-container {
    width: 100%;
  }

  .resume-left-main {
    width: 35%;
  }

  .resume-info-details-value {
    width: 100%;
  }

  .resume-info-details-section:last-child {
    margin-bottom: 200px;
  }

  .resume-right-info {
    .slick-slide > div {
      top: 70%;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .resume-left-info {
    width: 100%;
    padding: 100px;
    height: unset;
    position: relative;
  }

  .resume-left-container {
    top: unset;
    transform: unset;
  }

  .resume-right-info {
    width: 100%;
    background-color: #ececec;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .slick-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .resume-container .slick-list {
    width: 60%;
  }

  .slick-dots {
    width: 30px;
    height: auto;
    position: absolute;
    display: table !important;
    // top: 22%;
    right: 4%;
    top: 45%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
    padding: 5px 0px 8px 0;
  }

  .slick-track {
    margin-left: 10%;
    margin-right: 15%;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .resume-info-details-secondary-value {
    width: 90%;
  }

  .resume-right-info {
    .slick-dots li button:before {
      font-size: 16px !important;
    }
  }
}

@media only screen and (max-width: 641px) {
  .resume-information-icon,
  .resume-left-main {
    width: 200px;
    // height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 15px;
    float: unset;
    text-align: center;
  }

  .resume-left-main {
    margin-top: 20px;
  }

  .resume-info-details-value {
    font-size: 16px;
  }

  .resume-info-details-secondary-value {
    width: 100%;
    font-size: 13px;
  }

  .resume-left-info {
    padding: 100px 50px;
  }

  .resume-info-details-section:last-child {
    margin-bottom: 255px;
  }

  .resume-right-info {
    .slick-slide {
      height: 325px;
    }
  }
}

@media only screen and (max-width: 441px) {
  .resume-right-info {
    .slick-slide {
      height: 340px;
    }
  }
}

@media only screen and (max-width: 351px) {
  .resume-right-info {
    .slick-slide {
      height: 345px;
    }
  }

  .resume-info-details-value {
    font-size: 13px;
  }

  .resume-info-details-secondary-value {
    font-size: 11px;
  }
}
