.flexcar-chip {
  color: #ea0137;
  border: 2px solid #ea0137;
}

.collegelink-chip {
  color: #0398cd;
  border: 2px solid #0398cd;
}

.kepyes-chip {
  color: #dea712;
  border: 2px solid #dea712;
}
